body {
    font-family: $font-stack;
    color: $paragraph-color;
    font-weight: 400;
    font-size: 16px;
    line-height: 170%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
p {
    margin: 18px 0;
}
footer > div,
header > div,
section > div {
    min-width: 320px;
    max-width: 1080px;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0 20px;
}
img {
    display: block;
}
footer,
header,
section {
    .inner {}
}
header {
    nav {
        margin: 20px;
        ul {
            padding-left: 0;
            li {
                display: block;
                a {
                    line-height: 20px;
                }
            }
        }
    }
}
footer {}
#landing {
    // Here goes styling which will only apply to the landing page, to div#landing
}
