// VARIABLES
$font-stack: "Open Sans", "OpenSans", "Arial", "Helvetica", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$main-color: #506275;
$secondary-color: #9ebfe5;
$paragraph-color: #AAA;